.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  color: white;
  font-family: 'linotype', Arial, sans-serif;
}

.loginContainer h1 {
  color: white;
  margin-bottom: 2rem;
  font-weight: 200;
  font-size: 2.5rem;
  letter-spacing: 0.15em;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.loginForm::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, #ffffff4a 0%, #ffffff14 100%);
  border-radius: 12px;
  border-bottom-right-radius: 40%;
  pointer-events: none;
}

.loginForm input {
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-family: 'inter', Arial, sans-serif;
  letter-spacing: 0.05em;
}

.loginForm input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'inter', Arial, sans-serif;
}

/* .loginForm button {
  padding: 12px;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'inter', Arial, sans-serif;
  letter-spacing: 0.05em;
  transition: all 0.2s ease;
} */

.loginForm button:hover {
  background-color: #535bf2;
  transform: translateY(-1px);
}

.error {
  color: #ff6b6b;
  margin-bottom: 10px;
  font-family: 'inter', Arial, sans-serif;
}

.registerLink {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'inter', Arial, sans-serif;
  letter-spacing: 0.05em;
}

.registerLink a {
  color: #646cff;
  text-decoration: none;
  transition: all 0.2s ease;
}

.registerLink a:hover {
  text-decoration: underline;
} 