.profile-photo-upload {
  --orb-color: rgb(125, 125, 125);
  width: fit-content;
  margin: 0 auto;
}

.photo-preview {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 12px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.photo-content {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  overflow: hidden;
  cursor: pointer;
}

.photo-content::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.501) 0%, #ffffff00 90%);
  z-index: 1;
  border-radius: 100%;
  pointer-events: none;
}

.photo-content::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.508) 0%, rgba(255,255,255, 0) 50%);
  background-size: 100%;
  background-position: 0 25px;
  z-index: 1;
  border-radius: 100%;
  pointer-events: none;
}

.photo-content img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid #eee; */
}

.photo-placeholder {
  color: #999;
  font-size: 14px;
}

.upload-controls {
  display: flex;
  gap: 12px;
  align-items: center;
}

.file-input {
  display: none;
}

.edit-overlay {
  position: absolute;
  right: 5px;
  bottom: 0px;
  width: 32px;
  height: 32px;
  /* background-color: white; */
  background: radial-gradient(circle, rgba(255,255,255, 1) 0%, var(--orb-color) 65%);
  background-repeat: none;
  background-position: 0 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
  border: 1px solid #eee;
}

.edit-overlay::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 50%;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to bottom, #ffffffa0 0%, #ffffff00 90%);
  border-radius: 100%;
}

.edit-overlay:hover {
  background-color: #f0f0f0;
}

.edit-overlay svg {
  width: 16px;
  height: 16px;
  color: #000000;
}

.save-button {
  padding: 8px 16px;
  background-color: #4a4eff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s;
}

.save-button:hover {
  background-color: #3a3eee;
}

.save-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} 